{% extends "base_bootstrap.html" %} {% block content %}
<h1>Query Results</h1>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  .file-link {
    text-decoration: none;
    color: #0000ff;
  }

  .overview-column {
    width: 60%; /* Adjust the width as needed */
    max-width: 150px; /* Set a max-width if necessary */
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<table class="table table-hover">
  <thead>
    <tr>
      <th>File name</th>
      <th>Relevance (%)</th>
      <th>Document Overview</th>
      <!-- Add other attribute headers from the Documents model here -->
    </tr>
  </thead>
  <tbody>
    {% for file, score in fileNames_score_ %}
    <tr>
      <td><a href="/tdm/{{doc.pk}}" class="file-link">{{ file }}</a></td>
      <td>{{ score }}</td>
      {% for doc in dbDocumentFilelds_ %} {% if doc.title == file %}
      <td class="overview-column">{{ doc.overview }}</td>
      <!-- Add other attributes as needed -->
      {% endif %} {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
