[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint-django = "*"
jupyter = "*"
notebook = "*"
nltk = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
kaleido = "*"
pymongo = "*"
djongo = "*"
django-utils-six = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"

[pipenv]
allow_prereleases = true
